:root {
  font: 16px / 1 sans-serif;
  /* SDG Colors */
  --bright-sky: #80ced2;
  --night-sky: #85577e;
  --sun: #d5562b;
  --sea: #5a9090;
  --sand: #f7f0da;
  --asphalt: #2f3737;
  --lime: #b1d133;
  --tangerine: #f99d1b;
  /* Favicon Colors */
  --big-d: #00b7ff;
  --cessna: #5e5e5e;
  --orange-sun: #f15a24;
  --yellow-sun: #fcee21;
  /* Custom Webpage Colors */
  --pale-green: #e1eedd;
  --mando-blue: #1857a4;
  --slate: #c8d8e4;
}
html {
  height: 100%;
}
body {
  margin: 0;
  /* min-height: 100%; */
  background-color: var(--pale-green);
}
footer {
  text-align: center;
  padding: 3px 3px 0px 3px;
  /* padding-top: 3px; */
  /* padding-left: 3px; */
  /* padding-right: 3px; */
  /* padding-bottom: none; */
  background-color: var(--slate);
  color: black;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 100%; */
  /* color: #fff; */
}

h1,
.f1,
h2,
.f2,
h3,
.f3,
h4,
.f4,
h5,
.f5,
h6,
.f6 {
  font-family: 'Alliance No.1';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.025em;
}

.mb-1 {
  margin-bottom: 2px;
}
.text-normal {
  font-weight: 400;
}

.height-auto {
  height: auto;
}
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.rounded-3 {
  border-radius: 9px;
}

.container {
  width: auto;
  max-width: 1600px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(15px);
}

.header-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.page-title {
  font-size: 3rem;
}

.post {
  font-size: 14px;
}
@media (min-width: 1024px) {
  .post {
    font-size: 16px;
  }
}
